<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Forgot Password</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Forgot Password</h1>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}">Error</div>
    <form th:action="@{/auth/forgot-password}" method="post">
        <input type="email" name="email" required placeholder="Enter your email">
        <button type="submit">Send Reset Link</button>
    </form>
</div>
</body>
</html>
