<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/base}">
<head>
    <title>Reset Password</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Reset Password</h1>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}">Error</div>
    <form th:action="@{/auth/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <input type="password" name="password" required placeholder="New Password">
        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>
